<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="SymmetricProtectedConfigurationProvider"
        type="de.Aargenveldt.Auxiliary.Configuration.Encoding.ConfigurationProviders.SymmetricProtectedConfigurationProvider, SymmetricProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=63b973b832c470c2, processorArchitecture=MSIL"
        seed="AKeySeed"
        salt="QUtleVNhbHQ=" />
    </providers>
  </configProtectedData>


  <connectionStrings>
    <clear/>
    <add name="foo" connectionString="This is some foo plaintext connectionstring"/>
    <add name="bar" connectionString="This is some bar plaintext connectionstring"/>
  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>